<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>Main Page</title>
</head>
<body ng-app="app">
<hr/>
<div class="container" ng-controller="EmployeeController">
    <div class="row">
        <label>User</label> <input type="text" ng-model="employeeDto.employeeName" class="input-sm spacing"/>
         
        <button ng-click="saveEmployee()" class="btn btn-sm btn-info">Save Employee</button>
    </div>
    <hr/>
    <div class="row">
        <p>{{allEmployees | json}}</p>
    </div>
    <hr/>
    <div class="row" ng-repeat="emp in allEmployees">
        <div class="">
            <h3>{{emp.employeeName}}</h3>
        </div>
    </div>
</div>
</body>
<script src="js/lib/angular.min.js"></script>
<script src="js/lib/ui-bootstrap-tpls-2.5.0.min.js"></script>
<script src="js/app/app.js"></script>
<script src="js/app/EmployeeController.js"></script>
<script src="js/app/EmployeeService.js"></script>
<link rel="stylesheet" href="css/lib/bootstrap.min.css"/>
<link rel="stylesheet" href="css/app/app.css"/>
</html>